@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/*===== Variable Define =====*/
:root {
  --primary-color: #A82C48;
  --secondry-color: #43121d;
  --third-color: #f98169;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  --primary-font: 'Roboto', sans-serif;
  --secondry-font: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}



body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

/*
=========================================
    Custom Scrollbar
=========================================
*/

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/*
  ==========================================
     Custom CSS Design
  ==========================================
  */

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: paleturquoise;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  color: var(--secondry-color);
  line-height: 3rem;

}

h4 {
  color: var(--secondry-color);
  font-family: var(--secondry-font);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

h5 {
  color: var(--primary-color);
  text-transform: capitalize;
  font-family: var(--secondry-font);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}

.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: violet;
  border: 0.1875rem solid var(--primary-color);
  color: var(--white-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

/* .white-btn {
  padding: 0.625rem 1.875rem;
  line-height: 25px;
  background-color: var(--white-color);
  border: 0.1875rem solid var(--white-color);
  color: var(--text-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
} */


.main-btn:hover {
  background-color: palegoldenrod;
  color: var(--primary-color);
}

/* .white-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
} */

.wrapper {
  padding-top: 1.5rem;
  padding-bottom: 2em;
}

.text-content {
  width: 70%;
  margin: auto;
}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2 {
  color: var(--white-color);
}


/*
==========================================
   Header Design
==========================================
*/


.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
}

.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

.nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
  letter-spacing: 1px;
}

.navigation-wrap .main-btn {
  padding: 0.3125rem 1.4375rem;
  box-shadow: none;
  margin-left: 0.625rem;
}


/* Change navbar styling on scroll */

.navigation-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.09);
  transition: all .15s ease-in-out 0s;
}

.dropdown-menu {
  background-color: var(--primary-color);
}

/* .card {
  background-color: var(--primary-color);
} */





/*
==========================================
   top-banner Design
==========================================
*/





.top-banner{
  width:100%;
  background: url('../image/library-2.jpg') no-repeat center;
  background-size:cover;
  padding:16.875rem 0 9.375rem;
}






/*
==========================================
  counter Design
==========================================
*/
.counter-section {
  background-color: var(--primary-color);
  padding: 2.5rem 0;
}

.counter-section p {
  color: var(--white-color);
  text-transform: uppercase;
}

/*
==========================================
 about section Design
==========================================
*/

.about-section {
  background: var(--white-color);
}

.about-section .card,
.about-section .card img {
  border-radius: 0.625rem;
}

.about-section .text-sec {
  padding-left: 2rem;
}



/*
==========================================
 food type section Design
==========================================
*/

.food-type {
  padding-top: 3.25rem;
}

.food-type ul li {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 32px;
  position: relative;
  margin-left: 30px;
}

.food-type ul li::before {
  position: absolute;
  left: -2.1875rem;
  color: var(--primary-color);
  font-size: 1.25rem;
  font-family: "Font Awesome 5 Free";
  content: '\f00c';
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

.story-section {
  width: 100%;
  height: 20rem;
  background: url('../image/Library-3.jpg') no-repeat center;


  background-size: cover;
  padding-top: 100px;
  text-align: center;
}

.story-section h2 {
  color: greenyellow;
}




/*
==========================================
 About Owner
==========================================
*/

.card{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
}

.icons a{
  text-decoration: none;
  font-size: 20px;
  color: #0ABDE3;
  padding: 0 14px;
  transition-duration: 0.4s;
  transition-property: transform;
}

.icons a:hover{
  color: #000;
  transform: scale(1.5);
}




/*
==========================================
 About Offer
==========================================
*/

/* 
@charset "utf-8"; */

@import url('fontawesome-all.min');

html,

.Tulika {
    font-size: 15px;
    color: #505050;
    font-family: 'Rubik', sans-serif;
    vertical-align: baseline;
    line-height: 25px;
    font-weight: 400;
    overflow-x: hidden;
}

p {
    margin: 0 0;
}
a {
    color: #f36233;
    transition: all 0.3s ease 0s;
    text-decoration: none !important;
    outline: none !important;
}
a:active,
a:hover {
    text-decoration: none;
    outline: 0 none;
    color: #242526;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
::-moz-selection {
    background: #f36233;
    text-shadow: none;
    color: #ffffff;
}
::selection {
    background: #f36233;
    text-shadow: none;
    color: #ffffff;
}


.pt-90 {
    padding-top: 80px !important;
}

/* ------------------------------------
02. Global CSS
---------------------------------------*/
.readon {
    position: relative;
    display: inline-block !important;
    background: #f36233;
    padding: 14px 30px;
    line-height: normal;
    color: #ffffff !important;
    transition: all 0.3s ease 0s;
    border-radius: 30px;
    text-transform: capitalize !important;
    cursor: pointer;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
}
.readon:hover,
.readon:focus {
    background: #242526;
}

.inner{
    width:100%;
    float:left;
    position:relative;
}




/*
==========================================
 Our plan
==========================================
*/


 .pricingTable .holder{
    background: #fff;
    box-shadow: 1px 20px 12px -15px rgba(0,0,0,0.2);
    padding: 40px 15px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.05);
    transition:0.5s ease;
}

.pricingTable .holder:hover{
    transform:translateY(-5px);
    
}



.pricingTable .holder .hdng p{
    font-size:28px;
    font-weight:bold;
    color:#242526;
}

.pricingTable .holder .img img{
    width:70%;
}

.pricingTable .holder .price p{
    color:#f36233;
    margin-bottom:25px;    
}

.pricingTable .holder .price p b{
    font-size:40px;
    font-weight:bold;
}

.pricingTable .holder .price p span{
    font-size:18px;
}

.pricingTable .holder .info p{
    margin-bottom:15px;
    color:#242526;
    font-weight:14px;
}

.pricingTable .holder.active{
    background:#f36233;
}

.pricingTable .holder.active .hdng p,
.pricingTable .holder.active .price p,
.pricingTable .holder.active .info p{
    color:#fff;
}

.pricingTable .holder.active .readon{
    background:#fff;
    color:#f36233!important;
}

.pricingTable .holder.active .readon:hover{
    background:palevioletred;
    color:#fff!important;
}








/*
==========================================
 About student
==========================================
*/



/* .ram{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
  
}

.inner{
  overflow : hidden;
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}
 */



.card:hover{

  /* -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75); */

  -webkit-box-shadow: rgb(255, 0, 0); 
  -moz-box-shadow: -1px 9px 40px -12px rgb(255, 0, 0);
  box-shadow: -1px 9px 40px -12px rgb(255, 0, 0);

  

}









/*
==========================================
 testimonial section Design
==========================================
*/

.testimonial-section {
  background-color: var(--primary-color);
}


.testimonial-section .carousel-item {
  margin-top: 3rem;
  padding: 10rem 3.125rem;
  background-color: var(--white-color);
  border-radius: 0.9375rem;
  text-align: center;
}

.testimonial-section .carousel-caption img {
  max-width: 5rem;
  border-radius: 50%;
  padding: 0.3125rem;
}

.testimonial-section .carousel-item .carousel-caption p {
  font-size: 1.3125rem;
  line-height: 2.0625rem;
  padding: 0 11% 0.625rem;
}

.testimonial-section .carousel-indicators {
  bottom: -2.8125rem;
}

.testimonial-section .carousel-indicators button {
  width: 15px;
  height: 15px;
  outline: none;
  border-radius: 50%;
  border: none;
  margin-right: 1rem;
  opacity: 0.2;
}

.testimonial-section .carousel-indicators button.active {
  opacity: 1;
}





/* Map */



#map {
  display : flex;
  /* height: 100vh; */
   height: auto;

}

#contact {
  padding: 20px;
  background-color: #f4f4f4;
}

/* .form-group {
margin-bottom: 40px;
} */

.niraj{
color: palegreen;
}

.mt-2 {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  resize: vertical;
}

/* .btn :hover {
 
  background-color: aquamarine;
  height: 100%;
 
} */

@media screen and (max-width: 768px) {
  #map {
      height: 300px;
  }
}












/*

==========================================
FAQ section Design
==========================================
*/
.faq h4 span {
  color: var(--primary-color);
  font-size: 1.875rem;
  margin-right: 0.3125rem;
}

.book-food {
  width: 100%;
  background: url('../image/bg-3.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 71.9125px;
  padding: 4.375rem 0
}

/* Form Control */
.newsletter {
  width: 55%;
  margin: 0 auto;
}

.newsletter .form-control {
  height: 3.225rem;
  padding: 0 1.25rem;
  font-size: 0.875rem;
  width: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
  border: 0.1875rem solid var(--text-gray);
  color: var(--black-color);
  font-weight: 700;
}

.newsletter .form-control:hover,
.newsletter .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--primary-color);
}

/*
==========================================
footer section Design
==========================================
*/
.footer {

  background: var(--primary-color);


}

.footer .footer-link {
  font-size: 1rem;
  color: var(--white-color);
  padding: 0 1.875rem;
}

.footer .footer-link:hover {
  color: var(--white-color) !important;
}

.footer a i {
  font-size: 1.5rem;
  color: var(--white-color);
  padding: 0 1rem;
}



/* .shubh{
    width: 100%;
    background-color: aqua;
    padding: 20px 0;
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
} */

/*  card */
.card .card-items{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 8px;

}





